<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WIA2007MAD"
        tools:targetApi="31">
        <activity
            android:name=".AllModules.CounsellingService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD75uNNaoCnlpAaskEv0xnYaO5IQPRirjk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".AllModules.EmergencyLocator"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".AllModules.HealthEducation"
            android:exported="false" />
        <activity
            android:name=".AllModules.webPage"
            android:exported="false" />
        <activity
            android:name=".AllModules.HealthHome"
            android:exported="false" />
        <activity
            android:name=".AllModules.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllModules.Login" />
        <activity android:name=".AllModules.MainHomePage" />
        <activity
            android:name=".AllModules.MainPageElearning"
            android:parentActivityName=".AllModules.MainHomePage" />
        <activity
            android:name=".AllModules.ScholarshipGrant"
            android:parentActivityName=".AllModules.MainPageElearning" />
        <activity
            android:name=".AllModules.Workshop"
            android:parentActivityName=".AllModules.MainPageElearning" />
        <activity
            android:name=".AllModules.ResourceSharingHub"
            android:parentActivityName=".AllModules.MainPageElearning" />
        <activity
            android:name=".AllModules.ScholarshipDetails"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".AllModules.ScholarshipGrant" />
        <activity android:name=".AllModules.webViewPage" />
        <activity
            android:name=".AllModules.ResetPassword"
            android:parentActivityName=".AllModules.Login" />
        <activity
            android:name=".AllModules.Register"
            android:parentActivityName=".AllModules.Login" />
        <activity
            android:name=".AllModules.MainPageElearning"
            android:parentActivityName=".AllModules.MainHomePage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>